doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- CSS LOCAL FILE LINK
        link(rel="stylesheet", href="../css/main.css")
        script(src="../javascript/script.js" defer) 
        title ZLATMAX STARTER
    body 
        //- HEADER START
        include ./components/header.pug
        //- HEADER END

        //- MAIN START
        main 
            //- HERO START
            include ./components/hero.pug
            //- HERO END

        //- MAIN END
        
        //- FOOTER START
        include ./components/footer.pug
        //- FOOTER END