
<footer class="footer"> 
  <div class="container footer-container"> 
    <div class="footer-top"> 
      <h2>Златоустовские ножи интернет-магазин "ЗЛАТМАКС"</h2>
      <p>Наш интернет-магазин "ЗЛАТМАКС" предлагает Вам ножи очень высокого качества из города оружейников - Златоуста. Златоустовские ножи известны и популярны среди потребителей как на российским рынке, так и за рубежом: ножи охотничьи, хозяйственные, туристические, рыбацкие, складные и метательные. Нож Златоуста - это идеальный друг и товарищ в повседневной жизни и в экстремальных ситуациях. На многую продукцию распространяется гарантия до 10 лет - это один из главных показателей качества. Для Вас на нашем сайте "zlatmax" предложен огромный ассортимент Златоустовских ножей. Наши менеджеры помогут определиться и подобрать самый лучший Златоустовский нож, ориентируясь на Ваши пожелания.</p>
    </div>
    <div class="footer-main"> 
      <div class="footer-information"> 
        <ol class="information-list"> 
          <li class="information-item"> 
            <h3>ИНФОРМАЦИЯ</h3>
          </li>
          <li class="information-item"> 
            <p>Златоустовские ножи в Москве и Московской области</p>
          </li>
          <li class="information-item">    
            <p>Ножевые стали</p>
          </li>
          <li class="information-item">    
            <p>О нас</p>
          </li>
          <li class="information-item">    
            <p>Условия оплаты и доставки</p>
          </li>
          <li class="information-item">    
            <p>Политика конфиденциальности</p>
          </li>
        </ol>
        <ol class="support-list"> 
          <li class="support-item"> 
            <h3>СЛУЖБА ПОДДЕРЖКИ</h3>
          </li>
          <li class="support-item"> 
            <p>Контактная информация</p>
          </li>
          <li class="support-item"> 
            <p>Возврат товара</p>
          </li>
          <li class="support-item"> 
            <p>Карта сайта</p>
          </li>
        </ol>
        <ol class="addition-list"> 
          <li class="addition-item"> 
            <h3>ДОПОЛНИТЕЛЬНО</h3>
          </li>
          <li class="addition-item"> 
            <p>Подарочные сертификаты</p>
          </li>
          <li class="addition-item"> 
            <p>Партнеры</p>
          </li>
          <li class="addition-item"> 
            <p>Товары со скидкой</p>
          </li>
        </ol>
        <ol class="account-list"> 
          <li class="account-item"> 
            <h3>ЛИЧНЫЙ КАБИНЕТ</h3>
          </li>
          <li class="account-item"> 
            <p>Личный кабинет</p>
          </li>
          <li class="account-item"> 
            <p>История заказов</p>
          </li>
          <li class="account-item"> 
            <p>Мои закладки</p>
          </li>
          <li class="account-item"> 
            <p>Рассылка новостей</p>
          </li>
        </ol>
      </div>
      <div class="footer-contact"> 
        <ol class="contact-list"> 
          <li class="contact-item"> 
            <h3> КОНТАКТЫ</h3>
          </li>
          <li class="contact-item"> <img src="../images/phone.svg" alt=""/>
            <p>8 (800) 777-49-67</p>
          </li>
          <li class="contact-item"> <img src="../images/watch.svg" alt=""/>
            <p>Пн-Пт 7:00 - 16:00 (МСK)</p>
          </li>
          <li class="contact-item"> <img src="../images/location.svg" alt=""/>
            <p>Златоуст, ул. Шоссейная, д. 1, офис «6Б»</p>
          </li>
          <li class="contact-item"> <img src="../images/mail.svg" alt=""/>
            <p>info@zlatmax.ru </p>
          </li>
        </ol>
        <ol class="link-list"> 
          <li class="link-item"> 
            <h3>ПОЛЕЗНЫЕ ССЫЛКИ</h3>
          </li>
          <li class="link-item"> 
            <p>Способы оплаты и доставки</p>
          </li>
        </ol>
        <ol class="garant-list"> 
          <li class="garant-item"> 
            <h3>НАША ГАРАНТИЯ</h3>
          </li>
          <li class="garant-item"> 
            <p>Недовольны своей покупкой? Вы можете вернуть ее в течении 30 дней с даты получения,согласно нашим правилам</p>
          </li>
        </ol>
        <ol class="news-list"> 
          <li class="news-item"> 
            <h3> НОВОСТНАЯ РАССЫЛКА</h3>
          </li>
          <li class="news-item"> 
            <p>Подпишитесь прямо сейчас!</p>
          </li>
          <li class="news-item">   
            <input class="email" type="email" name="email" placeholder="example@email.com"/>
          </li>
          <li class="news-item"> </li>
        </ol>
      </div>
      <div class="footer-social"><a href="#"><img src="../images/f.svg" alt=""/></a><a href="#"><img src="../images/call.svg" alt=""/></a><a href="#"><img src="../images/t.svg" alt=""/></a><a href="#"><img src="../images/w.svg" alt=""/></a></div>
    </div>
    <div class="footer-bottom"> 
      <div class="footer-left"> 
        <p>Все материалы, размещенные на сайте, носят справочный характер и не являются публичной офертой, определяемойположениями Статьи 437 Гражданского кодекса Российской Федерации. При копировании материалов гиперссылка на www.zlatmax.ru обязательна!</p>
      </div>
      <div class="footer-right"> 
        <p>Златоустовские ножи www.zlatmax.ru ©</p>
      </div>
    </div>
  </div>
</footer>