
<div class="main">
  <nav class="navbar navbar-expand-lg bg-body-tertiary md-navbar" data-bs-theme="dark">
    <div class="container-fluid"><a class="navbar-brand" href="#"> <img class="me-3" src="./assets/page1/phone.png" alt="."/></a><a class="navbar-brand" href="#"> <img class="me-3" src="./assets/page1/avatar.png" alt="."/></a><a class="navbar-brand" href="#"> <img class="me-3" src="./assets/page1/like2.png" alt="."/></a><a class="navbar-brand" href="#"> <img class="me-3" src="./assets/page1/korzinka2.png" alt="."/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">О нас</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Оплата и доставка</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Новости</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
          <li class="nav-item"><a class="nav-link" href="#"> Личный кабинет</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown link</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Каталог ножей</a></li>
              <li><a class="dropdown-item" href="#">Клинковое оружие</a></li>
              <li><a class="dropdown-item" href="#">Сувенирные изделия</a></li>
              <li><a class="dropdown-item" href="#">Фонари ARMYTEK</a></li>
              <li><a class="dropdown-item" href="#">Сопуствующие товары</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary md-navbar">
    <div class="container"><a class="navbar-brand" href="#"><img class="ms-3" src="./assets/page1/logo.png" alt="logo"/></a></div>
  </nav>
  <nav class="topNav navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <Container class="container">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"> <a class="nav-link" href="#">О нас</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Оплата и доставка</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Новости</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Контакты</a></li>
      </ul><a class="nav-link float-end navbar-text topNavText" href="#"> <img class="me-3" src="./assets/page1/avatar.png" alt="."/>Личный кабинет</a>
    </Container>
  </nav>
  <nav class="topNav navbar navbar-expand-lg">
    <Container class="container">
      <div class="parent">
        <div class="navCenDiv"> <img class="w-50" src="./assets/page1/logo.png" alt="."/></div>
        <div class="navCenDiv me-4"> 
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success">Search</button>
          </form>
        </div>
        <div class="navCenDiv"> 
          <p></p>
        </div>
        <div class="navCenDiv"> <img class="location" src="./assets/page1/location.png" alt="."/></div>
        <div class="navCenDiv d-flex justify-content-end"> <img class="like" src="./assets/page1/like.svg" alt="."/></div>
        <div class="navCenDiv d-flex"><img class="like mb-3 ms-4" src="./assets/page1/korzinka.png" alt="."/>
          <div class="ms-3 mb-3 korText"><span class="d-block">0 р.</span><span>Оформить заказ</span></div>
        </div>
      </div>
    </Container>
  </nav>
  <nav class="topNav navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
    <Container class="container">
      <ul class="nav mb-2 mb-lg-0 parent2 nav-underline text-center">
        <li class="nav-item mx-5"><a class="nav-link" href="#">Каталог ножей</a></li>
        <li class="nav-item mx-5"><a class="nav-link" href="#">Клинковое оружие</a></li>
        <li class="nav-item mx-5"><a class="nav-link" href="#">Сувенирные изделия</a></li>
        <li class="nav-item mx-5"><a class="nav-link" href="#">Фонари ARMYTEK</a></li>
        <li class="nav-item mx-5"><a class="nav-link" href="#">Сопуствующие товары</a></li>
      </ul>
    </Container>
  </nav>
  <div class="page-1">
    <div class="dark"> 
      <div class="page-1Main">
        <Container class="container">
          <div class="text-light container">
            <div class="page1-left">
              <h2 class="mainTitle">Интернет магазин сертифицированных  </h2>
              <h2 class="mainTitle2">златоустовских ножей </h2>
              <p class="mainTitle3 mt-4"> <b>Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине </b><span>представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками. </span></p>
              <button class="page-1Button mt-5"> <b>Подробнее</b></button>
            </div>
            <div class="parent3">
              <div class="page-1Child"><img class="w-25" src="./assets/page1/page-1Box1.png" alt=""/>
                <p class="text-center">Гарантия 100% возврата<br/><span>денежных средств</span></p>
              </div>
              <div class="page-1Child"> <img class="w-25" src="./assets/page1/page-1Box2.png" alt=""/>
                <p class="text-center">Доставка по России, <br/><span>Казахстану и Белоруссии</span></p>
              </div>
              <div class="page-1Child"> <img class="w-25" src="./assets/page1/page-1Box3.png" alt=""/>
                <p class="text-center">Возможность оформление <br/><span>заказа без регистрации.</span></p>
              </div>
              <div class="page-1Child"> <img class="w-25" src="./assets/page1/page-1Box4.png" alt=""/>
                <p class="text-center">Скидки постоянным <br/><span>покупателям. </span></p>
              </div>
            </div>
          </div>
        </Container>
      </div>
    </div>
  </div>
  <div class="page-2 container"> 
    <Container class="container">
      <div class="parent4"> 
        <div class="page-2Child">
          <div>
            <p> <b>Среднеклинковое оружие</b></p>
            <div class="page-2Border mb-3"> </div>
            <ul> 
              <li>Разделочные </li>
              <li>Туристические</li>
              <li>Охотничьи</li>
            </ul>
          </div>
          <div> <img class="page-2Img" src="./assets/page2/pichoq1.png" alt="."/></div>
        </div>
        <div class="page-2Child">
          <div>
            <p> <b>Среднеклинковое оружие</b></p>
            <div class="page-2Border mb-3"> </div>
            <ul> 
              <li>Разделочные </li>
              <li>Туристические</li>
              <li>Охотничьи</li>
            </ul>
          </div>
          <div> <img class="page-2Img" src="./assets/page2/pichoq2.png" alt="."/></div>
        </div>
        <div class="page-2Child">
          <div>
            <p> <b>Среднеклинковое оружие</b></p>
            <div class="page-2Border mb-3"> </div>
            <ul> 
              <li>Разделочные </li>
              <li>Туристические</li>
              <li>Охотничьи</li>
            </ul>
          </div>
          <div> <img class="page-2Img" src="./assets/page2/pichoq3.png" alt="."/></div>
        </div>
        <div class="page-2Child">
          <div>
            <p> <b>Среднеклинковое оружие</b></p>
            <div class="page-2Border mb-3"> </div>
            <ul> 
              <li>Разделочные </li>
              <li>Туристические</li>
              <li>Охотничьи</li>
            </ul>
          </div>
          <div> <img class="page-2Img" src="./assets/page2/pichoq4.png" alt="."/></div>
        </div>
        <div class="page-2Child">
          <div>
            <p> <b>Среднеклинковое оружие</b></p>
            <div class="page-2Border mb-3"> </div>
            <ul> 
              <li>Разделочные </li>
              <li>Туристические</li>
              <li>Охотничьи</li>
            </ul>
          </div>
          <div> <img class="page-2Img" src="./assets/page2/pichoq5.png" alt="."/></div>
        </div>
        <div class="page-2Child">
          <div>
            <p> <b>Среднеклинковое оружие</b></p>
            <div class="page-2Border mb-3"> </div>
            <ul> 
              <li>Разделочные </li>
              <li>Туристические</li>
              <li>Охотничьи</li>
            </ul>
          </div>
          <div> <img class="page-2Img" src="./assets/page2/pichoq6.png" alt="."/></div>
        </div>
      </div>
    </Container>
  </div>
</div>