
<div class="hero"> 
  <div class="container-hero"> <img class="hero-pichoq" src="../images/img-hero.png" alt=""/><img class="hero-boll" src="../images/Ellipse 13 (1).png" alt=""/><img class="hero-pl" src="../images/Group 30 (2).png" alt=""/>
    <h1>Интернет магазин сертифицированных  </h1>
    <h3>златоустовских ножей</h3>
    <p class="hero-text-left">
      Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине представлен наиболее широкий выбор Златоустовских ножей от Златоустовских 
      Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
    </p>
    <button class="btn-button-hero-left">Подробнее</button>
    <div class="img-slide"> <img class="hero-img-slide" src="../images/Group 3 (1).png" alt=""/></div>
    <div class="img-right"> <img class="hero-footer-icons" src="../images/Group 68 (1).png" alt=""/></div>
    <div class="img-hero-left"><img class="hero-footer-icon" src="../images/Group 70 (1).png" alt=""/></div>
    <div class="img-hero-center"><img class="hero-icon" src="../images/Group 72 (1).png" alt=""/></div>
    <div class="img-hero-left"><img class="hero-icons-left" src="../images/Group 74 (1).png" alt=""/></div>
  </div>
</div>
<section> 
  <div class="section-container"> 
    <div class="card-right"><img class="card-img-right" src="../images/holor048 1.png" alt=""/>
      <p class="text-card-right">Длинноклинковое оружие</p>
      <div class="text-con"> 
        <p class="text-right-razdel">Разделочные </p>
        <p class="text-right-turist">Туристические</p>
        <p class="text-right-oxotnik">Охотничьи</p>
      </div>
    </div>
    <div class="card-right-top"><img class="img-right-top" src="../images/img-2.png" alt=""/>
      <p class="text-right-top">Ножевая мастерская</p>
      <div class="text-right-con"> 
        <p class="text-right-top-razdel">Разделочные </p>
        <p class="text-right-top-turist">Туристические</p>
        <p class="text-right-top-oxotnik">Охотничьи</p>
      </div>
    </div>
    <div class="card-center-top"> <img class="img-center-top" src="../images/kupit chehol 1.png" alt=""/>
      <p class="text-center-top">Сопутствующие товары</p>
      <div class="con-text-center"> 
        <p class="text-center-top-razdel">Разделочные</p>
        <p class="text-center-top-turist">Туристические</p>
        <p class="text-center-top-oxotnik">Охотничьи</p>
      </div>
    </div>
    <div class="card-center"> <img class="img-center" src="../images/image-center.png" alt=""/>
      <p class="text-center">Среднеклинковое оружие</p>
      <div class="conta-text-center"> 
        <p class="text-center-razdel">Разделочные</p>
        <p class="text-center-turist">Туристические</p>
        <p class="text-center-oxotnik">Охотничьи</p>
      </div>
    </div>
    <div class="card-left-top"> <img class="img-left-top" src="../images/1029762 1.png" alt=""/>
      <p class="text-left-top">Сувенирные изделия</p>
      <div class="text-con-left-top"> 
        <p class="text-left-top-razdel">Разделочные</p>
        <p class="text-left-top-turist">Туристические</p>
        <p class="text-left-top-oxotnik">Охотничьи</p>
      </div>
    </div>
    <div class="card-left"> <img class="img-left" src="../images/left-img.png" alt=""/>
      <p class="text-left">Каталог ножей</p>
      <div class="text-left-con">
        <p class="text-left-razdel">Разделочные</p>
        <p class="text-left-turist">Туристические</p>
        <p class="text-left-oxotnik">Охотничьи</p>
      </div>
    </div>
  </div>
</section>