footer.footer 
    .container.footer-container 
        .footer-top 
            h2 Златоустовские ножи интернет-магазин "ЗЛАТМАКС"
            p Наш интернет-магазин "ЗЛАТМАКС" предлагает Вам ножи очень высокого качества из города оружейников - Златоуста. Златоустовские ножи известны и популярны среди потребителей как на российским рынке, так и за рубежом: ножи охотничьи, хозяйственные, туристические, рыбацкие, складные и метательные. Нож Златоуста - это идеальный друг и товарищ в повседневной жизни и в экстремальных ситуациях. На многую продукцию распространяется гарантия до 10 лет - это один из главных показателей качества. Для Вас на нашем сайте "zlatmax" предложен огромный ассортимент Златоустовских ножей. Наши менеджеры помогут определиться и подобрать самый лучший Златоустовский нож, ориентируясь на Ваши пожелания.
        .footer-main 
            .footer-information 
                ol.information-list 
                    li.information-item 
                        h3 ИНФОРМАЦИЯ
                    li.information-item  
                        p Златоустовские ножи в Москве и Московской области
                    li.information-item     
                        p Ножевые стали
                    li.information-item     
                        p О нас
                    li.information-item     
                        p Условия оплаты и доставки
                    li.information-item     
                        p Политика конфиденциальности
                ol.support-list 
                    li.support-item 
                        h3 СЛУЖБА ПОДДЕРЖКИ
                    li.support-item 
                        p Контактная информация
                    li.support-item 
                        p Возврат товара
                    li.support-item 
                        p Карта сайта
                ol.addition-list 
                    li.addition-item 
                        h3 ДОПОЛНИТЕЛЬНО
                    li.addition-item 
                        p Подарочные сертификаты
                    li.addition-item 
                        p Партнеры
                    li.addition-item 
                        p Товары со скидкой
                ol.account-list 
                    li.account-item 
                        h3 ЛИЧНЫЙ КАБИНЕТ
                    li.account-item 
                        p Личный кабинет
                    li.account-item 
                        p История заказов
                    li.account-item 
                        p Мои закладки
                    li.account-item 
                        p Рассылка новостей
            .footer-contact 
                ol.contact-list 
                    li.contact-item 
                        h3  КОНТАКТЫ
                    li.contact-item 
                        img(src="../images/phone.svg", alt="")
                        p 8 (800) 777-49-67
                    li.contact-item 
                        img(src="../images/watch.svg", alt="")
                        p Пн-Пт 7:00 - 16:00 (МСK)
                    li.contact-item 
                        img(src="../images/location.svg", alt="")
                        p Златоуст, ул. Шоссейная, д. 1, офис «6Б»
                    li.contact-item 
                        img(src="../images/mail.svg", alt="")
                        p info@zlatmax.ru 
                ol.link-list 
                    li.link-item 
                        h3 ПОЛЕЗНЫЕ ССЫЛКИ
                    li.link-item 
                        p Способы оплаты и доставки
                ol.garant-list 
                    li.garant-item 
                        h3 НАША ГАРАНТИЯ
                    li.garant-item 
                        p Недовольны своей покупкой? Вы можете вернуть ее в течении 30 дней с даты получения,согласно нашим правилам
                ol.news-list 
                    li.news-item 
                        h3  НОВОСТНАЯ РАССЫЛКА
                    li.news-item 
                        p Подпишитесь прямо сейчас!
                    li.news-item    
                        input.email(type="email", name="email" placeholder="example@email.com")
                    li.news-item 
            .footer-social
                a(href="#")
                    img(src="../images/f.svg", alt="")
                a(href="#")
                    img(src="../images/call.svg", alt="")
                a(href="#")
                    img(src="../images/t.svg", alt="") 
                a(href="#")
                    img(src="../images/w.svg", alt="")
        .footer-bottom 
            .footer-left 
                p Все материалы, размещенные на сайте, носят справочный характер и не являются публичной офертой, определяемойположениями Статьи 437 Гражданского кодекса Российской Федерации. При копировании материалов гиперссылка на www.zlatmax.ru обязательна!
            .footer-right 
                p Златоустовские ножи www.zlatmax.ru ©
