.hero 
    .container-hero 
        img(src="../images/img-hero.png", alt="").hero-pichoq
        img(src="../images/Ellipse 13 (1).png", alt="").hero-boll
        img(src="../images/Group 30 (2).png", alt="").hero-pl
        h1 Интернет магазин сертифицированных  
        h3 златоустовских ножей
        p.hero-text-left Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине 
            |представлен наиболее широкий выбор Златоустовских ножей от Златоустовских 
            |Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
        button.btn-button-hero-left Подробнее
        .img-slide 
            img(src="../images/Group 3 (1).png", alt="").hero-img-slide
        .img-right 
            img(src="../images/Group 68 (1).png", alt="").hero-footer-icons
        .img-hero-left
            img(src="../images/Group 70 (1).png", alt="").hero-footer-icon
        .img-hero-center
            img(src="../images/Group 72 (1).png", alt="").hero-icon
        .img-hero-left
            img(src="../images/Group 74 (1).png", alt="").hero-icons-left
section 
    .section-container 
        .card-right
            img(src="../images/holor048 1.png", alt="").card-img-right
            p.text-card-right Длинноклинковое оружие
            .text-con 
                p.text-right-razdel Разделочные 
                p.text-right-turist Туристические
                p.text-right-oxotnik Охотничьи
        .card-right-top
            img(src="../images/img-2.png", alt="").img-right-top
            p.text-right-top Ножевая мастерская
            .text-right-con 
                p.text-right-top-razdel Разделочные 
                p.text-right-top-turist Туристические
                p.text-right-top-oxotnik Охотничьи
        .card-center-top 
            img(src="../images/kupit chehol 1.png", alt="").img-center-top
            p.text-center-top Сопутствующие товары
            .con-text-center 
                p.text-center-top-razdel Разделочные
                p.text-center-top-turist Туристические
                p.text-center-top-oxotnik Охотничьи
        .card-center 
            img(src="../images/image-center.png", alt="").img-center
            p.text-center Среднеклинковое оружие
            .conta-text-center 
                p.text-center-razdel Разделочные
                p.text-center-turist Туристические
                p.text-center-oxotnik Охотничьи
        .card-left-top 
            img(src="../images/1029762 1.png", alt="").img-left-top
            p.text-left-top Сувенирные изделия
            .text-con-left-top 
                p.text-left-top-razdel Разделочные
                p.text-left-top-turist Туристические
                p.text-left-top-oxotnik Охотничьи
        .card-left 
            img(src="../images/left-img.png", alt="").img-left
            p.text-left Каталог ножей
            .text-left-con
                p.text-left-razdel Разделочные
                p.text-left-turist Туристические
                p.text-left-oxotnik Охотничьи
