div.main
            nav.navbar.navbar-expand-lg.bg-body-tertiary.md-navbar(data-bs-theme="dark")
                .container-fluid
                    a.navbar-brand(href='#') 
                        img.me-3(src="./assets/page1/phone.png" alt=".")/
                    a.navbar-brand(href='#') 
                        img.me-3(src="./assets/page1/avatar.png" alt=".")/
                    a.navbar-brand(href='#') 
                        img.me-3(src="./assets/page1/like2.png" alt=".")/
                    a.navbar-brand(href='#') 
                        img.me-3(src="./assets/page1/korzinka2.png" alt=".")/
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNavDropdown.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href='#') О нас
                            li.nav-item
                                a.nav-link(href='#') Оплата и доставка
                            li.nav-item
                                a.nav-link(href='#') Новости
                            li.nav-item
                                a.nav-link(href='#') Контакты
                            li.nav-item
                                a.nav-link(href='#')  Личный кабинет
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Dropdown link
                                ul.dropdown-menu
                                    li
                                        a.dropdown-item(href='#') Каталог ножей
                                    li
                                        a.dropdown-item(href='#') Клинковое оружие
                                    li
                                        a.dropdown-item(href='#') Сувенирные изделия
                                    li
                                        a.dropdown-item(href='#') Фонари ARMYTEK
                                    li
                                        a.dropdown-item(href='#') Сопуствующие товары
            nav.navbar.bg-body-tertiary.md-navbar
                .container
                    a.navbar-brand(href="#")
                        img(src="./assets/page1/logo.png" alt="logo").ms-3

            nav.topNav.navbar.navbar-expand-lg.bg-dark.border-bottom.border-body(data-bs-theme="dark")
                Container.container
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        li.nav-item 
                            a.nav-link(href="#") О нас
                        li.nav-item 
                            a.nav-link(href="#") Оплата и доставка
                        li.nav-item 
                            a.nav-link(href="#") Новости
                        li.nav-item 
                            a.nav-link(href="#") Контакты
                    a.nav-link.float-end.navbar-text.topNavText(href="#") 
                        img.me-3(src="./assets/page1/avatar.png" alt=".")/ Личный кабинет

            nav.topNav.navbar.navbar-expand-lg
                Container.container
                    div.parent
                        div.navCenDiv 
                            img.w-50(src="./assets/page1/logo.png" alt=".")/
                        div.navCenDiv.me-4 
                            form.d-flex(role="search")
                                input(type="search" placeholder="Search" aria-label="Search").form-control.me-2
                                button.btn.btn-outline-success Search
                        div.navCenDiv 
                            p
                        div.navCenDiv 
                            img(src="./assets/page1/location.png" alt=".").location
                        div.navCenDiv.d-flex.justify-content-end 
                            img(src="./assets/page1/like.svg" alt=".").like
                        div.navCenDiv.d-flex
                            img(src="./assets/page1/korzinka.png" alt=".").like.mb-3.ms-4
                            div.ms-3.mb-3.korText
                                span.d-block 0 р.
                                span Оформить заказ

            nav.topNav.navbar.navbar-expand-md.bg-dark.border-bottom.border-body(data-bs-theme="dark")
                Container.container
                    ul.nav.mb-2.mb-lg-0.parent2.nav-underline.text-center
                        li.nav-item.mx-5
                            a.nav-link(href="#") Каталог ножей
                        li.nav-item.mx-5
                            a.nav-link(href="#") Клинковое оружие
                        li.nav-item.mx-5
                            a.nav-link(href="#") Сувенирные изделия
                        li.nav-item.mx-5
                            a.nav-link(href="#") Фонари ARMYTEK
                        li.nav-item.mx-5
                            a.nav-link(href="#") Сопуствующие товары
            div.page-1
                .dark 
                    div.page-1Main
                        Container.container
                            div.text-light.container
                                div.page1-left
                                    h2.mainTitle Интернет магазин сертифицированных  
                                    h2.mainTitle2 златоустовских ножей 
                                    p.mainTitle3.mt-4 
                                        b Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине 
                                        span представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками. 
                                    button.page-1Button.mt-5 
                                        b Подробнее
                                div.parent3
                                    .page-1Child
                                        img(src="./assets/page1/page-1Box1.png" alt="").w-25
                                        p.text-center Гарантия 100% возврата
                                            br 
                                            span денежных средств
                                    .page-1Child 
                                        img(src="./assets/page1/page-1Box2.png" alt="").w-25
                                        p.text-center Доставка по России, 
                                            br 
                                            span Казахстану и Белоруссии
                                    .page-1Child 
                                        img(src="./assets/page1/page-1Box3.png" alt="").w-25
                                        p.text-center Возможность оформление 
                                            br 
                                            span заказа без регистрации.
                                    .page-1Child 
                                        img(src="./assets/page1/page-1Box4.png" alt="").w-25
                                        p.text-center Скидки постоянным 
                                            br 
                                            span покупателям. 
            .page-2.container 
                Container.container
                    .parent4 
                        .page-2Child
                            div
                                p 
                                    b Среднеклинковое оружие
                                div.page-2Border.mb-3  
                                ul 
                                    li Разделочные 
                                    li Туристические
                                    li Охотничьи
                            div 
                                img(src="./assets/page2/pichoq1.png" alt=".").page-2Img
                        .page-2Child
                            div
                                p 
                                    b Среднеклинковое оружие
                                div.page-2Border.mb-3  
                                ul 
                                    li Разделочные 
                                    li Туристические
                                    li Охотничьи
                            div 
                                img(src="./assets/page2/pichoq2.png" alt=".").page-2Img
                        .page-2Child
                            div
                                p 
                                    b Среднеклинковое оружие
                                div.page-2Border.mb-3  
                                ul 
                                    li Разделочные 
                                    li Туристические
                                    li Охотничьи
                            div 
                                img(src="./assets/page2/pichoq3.png" alt=".").page-2Img
                        .page-2Child
                            div
                                p 
                                    b Среднеклинковое оружие
                                div.page-2Border.mb-3  
                                ul 
                                    li Разделочные 
                                    li Туристические
                                    li Охотничьи
                            div 
                                img(src="./assets/page2/pichoq4.png" alt=".").page-2Img
                        .page-2Child
                            div
                                p 
                                    b Среднеклинковое оружие
                                div.page-2Border.mb-3  
                                ul 
                                    li Разделочные 
                                    li Туристические
                                    li Охотничьи
                            div 
                                img(src="./assets/page2/pichoq5.png" alt=".").page-2Img
                        .page-2Child
                            div
                                p 
                                    b Среднеклинковое оружие
                                div.page-2Border.mb-3 
                                ul 
                                    li Разделочные 
                                    li Туристические
                                    li Охотничьи
                            div 
                                img(src="./assets/page2/pichoq6.png" alt=".").page-2Img