.btn-button-hero-left{
    width: 200px;
    margin-top: 80px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #E8AA31;
    margin-left: 30px;
    background: #E8AA31;
    color: white;
  }
  .btn-button-hero-left:hover{
     box-shadow: 0px 4px 20px 0px #E8AA316E;
  }