.hero{
  display: flex;
  position: relative;
  justify-content: center;
    .container-hero{
      position: absolute;
      background-color: black;
      justify-content: center;
      opacity: 90%;
      width: 1300px;
      height: 700px;
      .hero-pichoq{
        width: 350px;
        height: 370px;
        margin-top: 60px;
        margin-left: 700px;
      }
      .hero-boll{
        width: 300px;
        height: 350px;
        margin-left: 900px;
        margin-top: -340px;
        background-image: url(/images/Group\ 30\ \(2\).png);
        background-repeat: no-repeat;
      }
      .hero-pl{
        position: absolute;
        width: 30px;
        height: 30px;
        margin-top: -100px;
        margin-left: -100px;
      }
      h1{
        color: white;
        margin-left: 30px;
        font-weight: 800;
        font-size: 28px;
        margin-top: -370px;
      }
      h3{
        color: white;
        font-weight: 500;
        font-size: 27px;
        margin-top: 20px;
        margin-left: 30px;
      }
      .hero-text-left{
        color: white;
        max-width: 600px;
        margin-left: 30px;
        margin-top: 20px;
      }
      .hero-img-slide{
        width: 200px;
        height: 50px;
        margin-top: 40px;
        margin-left: 20px;
      }
      .hero-footer-icons{
        width: 200px;
        height: 100px;
        margin-left: 990px;
        margin-top: 100px;
      }
      .img-hero-left{
        margin-top: -100px;
      }
      .hero-footer-icon{
        width: 200px;
        height: 100px;
        margin-left: 670px;
      }
      .img-hero-center{
        margin-top: -100px;
          .hero-icon{
            width: 200px;
            height: 100px;
            margin-left: 340px;
          }
      }
      .img-hero-left{
        margin-top: -100px;
          .hero-icons-left{
            width: 200px;
            height: 100px;
            margin-left: 30px;
          }
      }
    }
}
    .card-right{
      width: 340px;
      height: 180px;
      box-shadow: 10px 10px 10px 10px black;
      background-color: white;
      margin-top: 760px;
      margin-left: 20px;
        .card-img-right{
          width: 160px;
          height: 120px;
          margin-left: 180px;
          margin-top: 60px;
        }
        .text-card-right{
          margin-top: -9em;
          margin-left: 1em;
          font-weight: 700;
          font-size: 19px;
          color: black;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-card-right::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.5s;
        }
        .text-card-right:hover::before{
          width: 30%;
        }
        .text-right-razdel{
          color: black;
          margin-top: 1.7em;
          margin-left: 1em;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-right-razdel::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.3s;
        }
        .text-right-razdel:hover::before{
          width: 10%;
        }
        .text-right-turist{
          color: black;
          margin-top: 0.7em;
          margin-left: 1em;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-right-turist::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.3s;
        }
        .text-right-turist:hover::before{
          width: 10%;
        }
        .text-right-oxotnik{
          color: black;
          margin-top: 0.7em;
          margin-left: 1em;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-right-oxotnik::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.3s;
        }
        .text-right-oxotnik:hover::before{
          width: 10%;
        }
    }
    .card-right-top{
      width: 340px;
      height: 180px;
      box-shadow: 8px 8px 8px 8px black;
      margin-top: 999px;
      margin-left: -335px;
        .img-right-top{
          width: 160px;
          height: 170px;
          margin-left: 11.3em;
          margin-top: 0.6em;
        }
        .text-right-top{
          margin-top: -9em;
          margin-left: 1em;
          font-weight: 700;
          font-size: 19px;
          color: black;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-right-top::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.5s;
        }
        .text-right-top:hover::before{
          width: 30%;
        }
        .text-right-top-razdel{
          color: black;
          margin-top: 1.7em;
          margin-left: 1em;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-right-top-razdel::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.3s;
        }
        .text-right-top-razdel:hover::before{
          width: 10%;
        }
        .text-right-top-turist{
          color: black;
          margin-top: 0.7em;
          margin-left: 1em;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-right-top-turist::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.3s;
        }
        .text-right-top-turist:hover::before{
          width: 10%;
        }
        .text-right-top-oxotnik{
          color: black;
          margin-top: 0.7em;
          margin-left: 1em;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-right-top-oxotnik::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.3s;
        }
        .text-right-top-oxotnik:hover::before{
          width: 10%;
        }
    }
    .card-center-top{
      width: 340px;
      height: 180px;
      box-shadow: 8px 8px 8px 8px black;
      margin-left: -710px;
      margin-top: 999px;
        .img-center-top{
          width: 180px;
          height: 140px;
          margin-left: 10em;
          margin-top: 2.5em;
        }
        .text-center-top{
            margin-top: -9em;
            margin-left: 1em;
            font-weight: 700;
            font-size: 19px;
            color: black;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-center-top::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.5s;
          }
          .text-center-top:hover::before{
            width: 30%;
          }
          .text-center-top-razdel{
            color: black;
            margin-top: 1.7em;
            margin-left: 1em;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-center-top-razdel::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.3s;
          }
          .text-center-top-razdel:hover::before{
            width: 10%;
          }
          .text-center-top-turist{
            color: black;
            margin-top: 0.7em;
            margin-left: 1em;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-center-top-turist::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.3s;
          }
          .text-center-top-turist:hover::before{
            width: 10%;
          }
          .text-center-top-oxotnik{
            color: black;
            margin-top: 0.7em;
            margin-left: 1em;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-center-top-oxotnik::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.3s;
          }
          .text-center-top-oxotnik:hover::before{
            width: 10%;
          }
      }
      .card-center{
        width: 340px;
        height: 180px;
        box-shadow: 8px 8px 8px 8px black;
        margin-top: 760px;
        margin-left: -345px;
          .img-center{
            width: 170px;
            height: 160px;
            margin-top: 1.3em;
            margin-left: 11em;
          }
          .text-center{
            margin-top: -9em;
            margin-left: 1em;
            font-weight: 700;
            font-size: 19px;
            color: black;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-center::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.5s;
          }
          .text-center:hover::before{
            width: 30%;
          }
          .text-center-razdel{
            color: black;
            margin-top: 1.7em;
            margin-left: 1em;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-center-razdel::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.3s;
          }
          .text-center-razdel:hover::before{
            width: 10%;
          }
          .text-center-turist{
            color: black;
            margin-top: 0.7em;
            margin-left: 1em;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-center-turist::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.3s;
          }
          .text-center-turist:hover::before{
            width: 10%;
          }
          .text-center-oxotnik{
            color: black;
            margin-top: 0.7em;
            margin-left: 1em;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-center-oxotnik::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.3s;
          }
          .text-center-oxotnik:hover::before{
            width: 10%;
          }
      }
      .card-left-top{
        width: 340px;
        height: 180px;
        box-shadow: 8px 8px 8px 8px black;
        margin-left: -710px;
        margin-top: 999px;
        .img-left-top{
          max-width: 130px;
          height: 160px;
          margin-left: 13.3em;
          margin-top: 1.3em;
        }
        .text-left-top{
          margin-top: -9em;
          margin-left: 1em;
          font-weight: 700;
          font-size: 19px;
          color: black;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-left-top::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.5s;
        }
        .text-left-top:hover::before{
          width: 30%;
        }
        .text-left-top-razdel{
          color: black;
          margin-top: 1.7em;
          margin-left: 1em;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-left-top-razdel::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.3s;
        }
        .text-left-top-razdel:hover::before{
          width: 10%;
        }
        .text-left-top-turist{
          color: black;
          margin-top: 0.7em;
          margin-left: 1em;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-left-top-turist::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.3s;
        }
        .text-left-top-turist:hover::before{
          width: 10%;
        }
        .text-left-top-oxotnik{
          color: black;
          margin-top: 0.7em;
          margin-left: 1em;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0em;
          position: relative;
          cursor: pointer;
        }
        .text-left-top-oxotnik::before{
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 2px;
          width: 0%;
          background: #E8AA31;
          margin-top: 0.5em;
          transition: all ease 0.3s;
        }
        .text-left-top-oxotnik:hover::before{
          width: 10%;
        }
      }
      .card-left{
        width: 340px;
        height: 180px;
        box-shadow: 8px 8px 8px 8px black;
        margin-top: 760px;
        margin-left: -340px;
          .img-left{
            width: 160px;
            height: 170px;
            margin-left: 12em;
            margin-top: 0.6em;
          }
          .text-left{
            margin-top: -9em;
            margin-left: 1em;
            font-weight: 700;
            font-size: 19px;
            color: black;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-left::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.5s;
          }
          .text-left:hover::before{
            width: 30%;
          }
          .text-left-razdel{
            color: black;
            margin-top: 1.7em;
            margin-left: 1em;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-left-razdel::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.3s;
          }
          .text-left-razdel:hover::before{
            width: 10%;
          }
          .text-left-turist{
            color: black;
            margin-top: 0.7em;
            margin-left: 1em;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-left-turist::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.3s;
          }
          .text-left-turist:hover::before{
            width: 10%;
          }
          .text-left-oxotnik{
            color: black;
            margin-top: 0.7em;
            margin-left: 1em;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0em;
            position: relative;
            cursor: pointer;
          }
          .text-left-oxotnik::before{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            height: 2px;
            width: 0%;
            background: #E8AA31;
            margin-top: 0.5em;
            transition: all ease 0.3s;
          }
          .text-left-oxotnik:hover::before{
            width: 10%;
          }
      }